body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-franklin-gothic-book: "Franklin Gothic Book";
    --font-times-new-roman: "Times New Roman";
    --font-franklin-gothic-medium: "Franklin Gothic Medium";
    --font-lato: Lato;
    --font-sf-compact-display: "SF Compact Display";
  
    /* font sizes */
    --font-size-mini: 15px;
    --font-size-base: 16px;
    --font-size-5xl: 24px;
    --font-size-mid: 17px;
    --font-size-xl: 20px;
    --font-size-smi: 13px;
    --font-size-lg: 18px;
    --font-size-sm: 14px;
  
    /* Colors */
    --white: #fff;
    --boxes: #f8f8fb;
    --color-whitesmoke-100: #f7f9f9;
    --color-whitesmoke-200: #eff3f4;
    --dark-7: #ebeef0;
    --primary: #e7ecef;
    --color-dimgray-100: #656a6e;
    --color-dimgray-200: #536471;
    --color-gray-100: #232629;
    --dark-2: #1c2733;
    --black: #0f1419;
    --primary-blue: #1da1f2;
    --dark-4: #3a444c;
    --color-darkslategray-100: #344049;
    --b9ae: #00b9ae;
    --dark-5: #5b7083;
    --dark6: #8899a6;
    --color-lightslategray-100: #8996a3;
    --secondary: #274c77;
    --color-gainsboro-100: #e4e7e8;
    --color-gainsboro-200: #dbddde;
  
    /* Gaps */
    --gap-xl: 20px;
    --gap-11xs: 2px;
    --gap-8xs: 5px;
    --gap-2xs: 11px;
    --gap-9xs: 4px;
    --gap-mini: 15px;
    --gap-7xs: 6px;
  
    /* Paddings */
    --padding-11xl: 30px;
    --padding-mini: 15px;
    --padding-xs: 12px;
    --padding-smi: 13px;
    --padding-8xs: 5px;
    --padding-2xs: 11px;
    --padding-sm: 14px;
    --padding-3xs: 10px;
    --padding-base: 16px;
    --padding-9xs: 4px;
    --padding-lgi: 19px;
    --padding-46xl: 65px;
    --padding-96xl: 115px;
  
    /* border radiuses */
    --br-99980xl: 99999px;
    --br-base: 16px;
    --br-xl: 20px;
    --br-xs: 12px;
  }
  